{{ $page := .page }}
{{ $color := "gray-400" }}
{{ $size := .size | default "full"}}
{{ $show := .showchildren | default true }}

{{ with $page.Params.theme }}{{ $color = . }}{{ end }}

<div class="md:flex md:w-full lg:w-{{$size}} p-2">
    <div class="md:flex-1 p-8 shadow-lg border-t-8 bg-white mb-4 border-{{$color}}-400">
        <h2 class="text-3xl font-semibold text-gray-800">
            <a class="hover:text-gray-600"
                href="{{$page.Permalink}}">
                {{$page.Title}}
            </a>
        </h2>
        {{ with $page.Description }}
        <p class="mt-4 mb-8 text-lg leading-relaxed text-gray-600">{{.}}</p>
        {{ end }}

        {{ if eq $size "1/2" }}
        <ul class="list-none mt-4">
            {{ range $i, $e := $page.Pages }}
            <li class="py-2">
                <div class="flex items-center">
                    <div>
                        <h3 class="text-lg text-gray-700"><a  class="hover:text-gray-500" href="{{.RelPermalink}}">{{$e.Title}}</a></h3>
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>

        {{ else }}
            <div class="md:flex flex-wrap  ">
            {{ range $i, $e := $page.Pages }}
            <div class="md:flex md:w-full lg:w-1/2 p-2 mt-4">
                <div class="md:flex-1 p-8  border  bg-white border-grey-dark">
                    <h3 class="text-lg text-gray-700 font-semibold"><a class="hover:text-gray-500" href="{{.RelPermalink}}">{{$e.Title}}</a></h3>
                    {{ if $show }}
                    <div class="pt-4">
                    {{ range $e.Pages }}
                        <h4 class="text-lg text-gray-700 py-2"><a class="hover:text-gray-500" href="{{.RelPermalink}}">{{.Title}}</a></h4>
                    {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            </div>
        {{ end }}

    </div>
</div>
