{{ define "main" }}

<div class="container mb-12 mx-auto ">
  
    <div class="md:flex content-center flex-wrap -mx-2 p-3 bg-grey ">
      
      
      <div class="w-full p-2">
        <div class="md:flex-1 p-8 shadow-lg bg-white mb-4 border">
          <h3 class="text-3xl font-semibold text-gray-800"><a class="hover:text-gray-600" href="{{.Permalink}}">{{.Title}}</a></h3>
            
          <article class="content mt-8">
          {{ .Content }}
          </article>
        </div>
      </div>

    </div>
</div>



{{ end }}