<div class="w-full " >

{{$home := site.Home }}

<div class="sidebar">
    {{ template "structure" (dict "currentLevel" $home "currentPage" . "level" 0 "maxlev" 3 "theme" "gray" ) }}
</div>


{{ define "structure" }}
    {{ $level := .level }}
    {{ $maxlev := .maxlev }}
    {{ $currentLevel := .currentLevel }}
    {{ $currentPage := .currentPage }}
    {{ $newlev := add $level 1 }}

    {{ $theme := .theme | default "gray" }}

    {{ if le $level $maxlev }}
    
    {{ if $currentLevel.IsHome }}
    <a href="{{$currentLevel.Permalink}}" >{{ $currentLevel.Title }} </a>
    <ol> 
        {{ $children := $currentLevel.Pages }}
        {{ range $children }}
                {{ with .Params.theme }}{{ $theme = . }}{{ end }}
                {{template "structure" (dict "currentLevel" . "currentPage" $currentPage "level" $newlev "maxlev" $maxlev "theme" $theme) }}
        {{ end }}
    </ol>
    {{ else if $currentLevel.IsNode }}
    <li class="{{cond (eq $currentLevel $currentPage) "current" "" }}">
        <div >
        <a href="{{$currentLevel.Permalink}}" >{{ $currentLevel.Title }} {{cond (eq $currentLevel $currentPage) "current" "" }}</a>
        </div>
    
    
        {{ if le $newlev $maxlev }}
        <ol class="border-{{$theme}}-400"> 
        {{ $children := $currentLevel.Pages }}
        {{ range $children }}
                {{template "structure" (dict "currentLevel" . "currentPage" $currentPage "level" $newlev "maxlev" $maxlev "theme" $theme) }}
        {{ end }}
        </ol>
        {{ end }}

    </li>
    
    {{ else }}
        <li class="{{cond (eq $currentLevel $currentPage) "current" "" }}">
            <div>
            <a href="{{$currentLevel.Permalink}}" >{{ $currentLevel.Title }}</a>
            </div>
        </li>
    {{ end }}


    {{ end }}
{{ end }}

{{ define "partials/level-styler" }}

{{ $res := "" }}

{{ if eq . 1 }}{{ $res = "font-semibold text-base uppercase mb-4 mt- border border-blue-400 px-2" }}{{ end }}
{{ if eq . 2 }}{{ $res = "font-semibold text-base normal-case mb-4 mt-8" }}{{ end }}
{{ if eq . 3 }}{{ $res = "font-normal text-base " }}{{ end }}
{{ if eq . 4 }}{{ $res = "font-normal text-sm " }}{{ end }}

{{ return $res }}

{{ end }}


             
          </div>