{{ define "main" }}
<div class="container mb-12 mx-auto ">
  
  <div class="md:flex content-center flex-wrap -mx-2 p-3 bg-gray-200 ">
    
    
    {{ $start := site.GetPage "start"}}
    {{ partial "components/homebox" (dict "page" $start "size" "1/2") }}

    {{ $tutorials := site.GetPage "tutorials" }}
    {{ partial "components/homebox" (dict "page" $tutorials "size" "1/2") }}


    {{ $howto := site.GetPage "howto" }}
    {{ partial "components/homebox" (dict "page" $howto ) }}

   
    {{ $references := site.GetPage "reference" }}
    {{ partial "components/homebox" (dict "page" $references  "showchildren" false) }}
 
  
  </div>
    

  
</div>    




{{ end }}